<div class="card-header">
  <div class="card-header align-items-center d-flex">
    <%= link_to cat_path(@cat.id), class: "no-text-decoration" do %>
      <%= @cat.name %>
    <% end %>
    <% if @cat.user_id == current_user.id %>
      <%= link_to  cat_path(@cat), method: :delete, class: "ml-auto mx-0 my-auto" do %>
        <div class="delete-post-icon">
        </div>
      <% end %>
    <% end %>
  </div>
  
<p>猫種：<%= @cat.cat_species %></p>
  
<p>性別：<%= @gender %></p>

<p>誕生日：<%= @cat.birthday %></p>
  
<p>毛色：<%= @cat.coatcolor %></p>
  

